/**
 * @name UserMenu-DropDown
 * @description a theme/snippet to add a dropdown menu to the UserMenu.
 * @author Unknown81311
 * @version 1.0.0
 * @authorId 359174224809689089
 * @website https://github.com/unknown81311/BD_Addons
 * @source https://github.com/unknown81311/BD_Addons/tree/main/themes/snippets/UserMenu-DropDown
 * @updateUrl https://unknown81311.github.io/BD_Addons/themes/snippets/UserMenu-DropDown/UserMenu-DropDown.style.css
 */

.container-3baos1>.nameTag-3uD-yy+.flex-1xMQg5:after{
     content: url('https://unknown81311.github.io/BD_Addons/assets/arrow.svg');
     margin-top: 5px;
}
 .container-3baos1>.nameTag-3uD-yy+.flex-1xMQg5:hover{
     width:96px !important;
     transition: 0.3s ease;
     height: 130px;
     background-color: var(--background-secondary-alt) !important;
     border:3px rgba(2, 2, 5,0.25) solid;
}
 .container-3baos1>.nameTag-3uD-yy+.flex-1xMQg5:hover:after{
     content: none !important 
}
 .container-3baos1>.nameTag-3uD-yy+.flex-1xMQg5 button{
     display:none;
}
 .container-3baos1>.nameTag-3uD-yy+.flex-1xMQg5:hover button{
     display:block;
     padding-top:5px !important;
}
 .container-3baos1>.nameTag-3uD-yy+.flex-1xMQg5{
     transition: 0.3s ease;
     width:24px;
     height: 37px;
     border-radius: 5px;
     z-index: 1000;
}
 .container-3baos1>.nameTag-3uD-yy+.flex-1xMQg5:hover > button:nth-last-child(1):after{
     content: "Settings";
     display: inline-block;
     transform: rotate(90deg);
     margin-top: 30px;
     margin-left: -6px;
}
 .container-3baos1>.nameTag-3uD-yy+.flex-1xMQg5:hover > button:nth-last-child(2):after{
     content: "Deafen";
     display: inline-block;
     transform: rotate(90deg);
     margin-top: 28px;
     margin-left: -6px;
}
 .container-3baos1>.nameTag-3uD-yy+.flex-1xMQg5:hover > button:nth-last-child(3):after{
     content: "Mute";
     display: inline-block;
     transform: rotate(90deg);
     margin-top: 23px;
     margin-left: 0px;
}
 
