/**
 * @name Slim List
 * @description changes the width of plugin and theme lists to a grid.
 * @author Unknown81311
 * @version 1.0.0
 * @authorId 359174224809689089
 * @website https://github.com/cyleja1234/BD_Addons
 * @source https://github.com/cyleja1234/BD_Addons/tree/main/themes/snippets/Slim-List
 * @updateUrl https://cyleja1234.github.io/BD_Addons/themes/snippets/Slim-List/Slim-List.style.css
 */

.bd-controls + .bd-addon-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}
.bd-addon-list .bd-addon-card {
    margin-bottom: 10px;
}
.bd-addon-list .bd-addon-card:last-child:nth-child(odd) {
    grid-column: span 2;
}
