/**
 * @name UserMenu-DropDown
 * @description a theme/snippet to revert the style added to the User Menu
 * @author Unknown81311
 * @version 1.0.0
 * @authorId 359174224809689089
 * @website https://github.com/cyleja1234/BD_Addons
 * @source https://github.com/cyleja1234/BD_Addons/tree/main/themes/snippets/old-UserMenu
 * @updateUrl https://cyleja1234.github.io/BD_Addons/themes/snippets/old-UserMenu/old-UserMenu.style.css
 */

.platform-win .guilds-1SWlCJ{
    margin-top:0 !important;
}
#app-mount .container-3baos1,#app-mount .container-3baos1 .nameTag-3uD-yy,#app-mount .container-3baos1 .flex-1xMQg5{
    position: unset !important;
    animation: none !important;
}
#app-mount .container-3baos1 .nameTag-3uD-yy,#app-mount .container-3baos1 .flex-1xMQg5{
    opacity:1 !important;
    background: transparent !important;
    pointer-events: initial !important;
}
#app-mount .container-3baos1 .flex-1xMQg5:before,#app-mount .container-3baos1 .avatarWrapper-2yR4wp .wrapper-3t9DeA::after{
    display: none;
}
#app-mount .container-3baos1 .avatarWrapper-2yR4wp .wrapper-3t9DeA{
    width: 32px !important;
    height: 31px !important;
}
